body{
	margin-right: auto;
	margin-left: auto;
	width:60%;
	height: auto;
}

h1{
	text-align:left;
	padding-left: 130px;
}

th{
	background-color:#333399;
	color:white;
}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.max_comments{
	color:red;
	margin-left:110px;
}

.header{
	display:inline-block;
}

.header span{
	color:red;
	}

.comments_header span{
	color:red;
}

.time{
	float:right;
	display:inline-block;
	padding:25px 150px 25px 0;
}
.comments_time{
	float:right;
	display:inline-block;
	margin-top:30px;
	margin-right:30px;
	margin-bottom:90px;
}

/* formエリアのデザイン  */
form{
}

label{
}

ul li{
	list-style:none;
}


textarea{
	vertical-align: top;
	height: 4em;
	width:240px;
}

.main-contents{
	margin-top:80px;
}

.contents-table{
	border:1px;
	border-style:solid;
	width:80%;
}

.title-detail{
	text-align:left;
}

.contents-table tr:nth-child(odd) td{
	background-color:#EAF6FD;
}

.contents-table tr:nth-child(even) td{
	background-color:#EFEFEF;
}

.footer{
	margin-left:90px;
	margin-top: 100px;
}


.roomname{
}


.list-name{
	margin-right:60px;
}

.user_name{
	float : left;
}
.room{
	margin-left:100px;
	width:200px;
}

.room_p{
	display:inline-block;
}

.list-comment{
	margin-left:30px;
	margin-right:80px;
}

.room-comment{
	margin:60px;
}

.regi{
	padding-right:400px;
}


.btn{
	background-color:#87cefa;
	display:inline-block;
	margin-left:30px;
	width:70px;
}

.error_omission{
	color:red;
	margin-left: 110px;
}


.rooms_name{
	margin-left: 132px;
	width:200px;
}
.user_detail{
	width:150px;
}

.date_detail{
	width:100px;
}

.error_msg{
	color:red;
}

.comments_error_msg{
	color:red;
}


.title_register{
	display:block;
}



.text_date{
}

/*----threadなしの設定-------------*/
.style_heads{
	clear:both;
	display:block;

}

.style_threads{
	clear:both;
}

/*.heads{
	display:inline-block;
}*/
.comments_header{
	display:inline-block;
}
.text_content{
	border-top:1px solid #3366CC;
}


.text_number{
	display:inline-block;
}

.text_name{
	display:inline-block;
}

.text_date{
	float:right;
}
/*--------返信コメントの設定--------------------*/
.threads{
/*	display:; */
}

.thread_text{
	display:block;
/*	text-indent:7em; */
	padding-left:7em;
}

.res_number{
	display:inline-block;
}

.res_name{
	display:inline-block;
}
.res_date{
	float:right;
}

.res_content{
	border-top:1px solid #3366CC;
}

/*----------------------------------------------*/

.room-comment{
	float:left;
}
/* formタグ内の調整 */
.res{
	margin-left:158px;
	width: 70px;
}

.text{
	margin-left:120px;
}

.name{
	margin-left: 152px;
	width:244px;
}

.comments_footer{
	margin-top: 100px;
}

.comments_error{
	margin:0px 0px 0px 190px;
}
/*---------------------------------*/


