.display-width{
	width:950px;
}

body{
	margin-right: auto;
	margin-left: auto;
	width:650px;
}

h1{
	text-align:left;
}

.header{
	display:inline-block;
}

.header span{
	color:red;
	}

.time{
	float:right;
	display:inline-block;
	padding:25px 150px 25px 0;

}


/* formエリアのデザイン  */
form{
	margin : 0 auto;
	width : 600;
}

label{
	display: inline-block;
	width: 150px;
	text-align: left;
	float:left;
}

ul li{
	list-style:none;
}

/*
.title-in{
	padding:0px;
}*/

/*input, textarea{
	font: 1em sans-serif;
	width: 300px;
	box-sizing: border-box;

}*/


textarea{
	vertical-align: top;
	height: 4em;
	width:240px;
}

.contents-table{
	border:1px;
	border-style:solid;
	width:80%;
}

.contents-table tr:nth-child(odd) td{
	background-color:#EAF6FD;
}

.contents-table tr:nth-child(even) td{
	background-color:#EFEFEF;
}

.footer{
	text-align:center;
}


.roomname{
	margin-right:30px;
	margin-left:50px;
	float:right;
}


.list-name{
	margin-right:60px;
}

.room{
	margin-right:80px;
}

.room_p{
	display:inline-block;
}

.list-comment{
	margin-left:30px;
	margin-right:80px;
}

.room-comment{
	margin:60px;
}

.regi{
	padding-right:400px;
}


.btn{
	background-color:#87cefa;
	display:inline-block;
	margin-left:30px;
	float:left;
}

.error_msg{
	color:red;
}

/*board.php の css----------------*/
.main{
/*	display:inline-block; */
/*	text-align:left; */
/*	display:block; */
}
.text_number,text_name,text_content{
}

.title_register{
	display:block;
}



.text_date{
}

/*----threadなしの設定-------------*/
.style_heads{
	clear:both;
	display:block;

}

.style_threads{
	clear:both;
}

/*.heads{
	display:inline-block;
}*/

.text_content{
	border-top:1px solid #3366CC;
}


.text_number{
	display:inline-block;
}

.text_name{
	display:inline-block;
}

.text_date{
	float:right;
}
/*--------返信コメントの設定--------------------*/
.threads{
/*	display:; */
}

.thread_text{
	display:block;
/*	text-indent:7em; */
	padding-left:7em;
}

.res_number{
	display:inline-block;
}

.res_name{
	display:inline-block;
}
.res_date{
	float:right;
}

.res_content{
	border-top:1px solid #3366CC;
}

/*----------------------------------------------*/

.room-comment{
	float:left;
}
/* formタグ内の調整 */
.res{
	display:block;
	float:left;
	width:60px;
}

.text{
	float:left;

}

.name{
	width:240px;
	float:left;
}
/*---------------------------------*/


