.display-width{
	width:750px;
}

body{
	margin-right: auto;
	margin-left: auto;
	width:650px;
}

h1{
	text-align:center;
}

.header{
	display:inline-block;
}

.header span{
	color:red;
	float:left;
	display:inline-block;
	padding-left:100px;
}

.time{
	float:right;
	display:inline-block;
	padding:25px 100px 25px 0;

}

.main-contents{
	text-align:center;
}

/* formエリアのデザイン  */
form{
	margin : 0 auto;
	width : 600;
}

label{
	display: inline-block;
	width: 150px;
	text-align: left;
	float:left;
}

ul li{
	list-style:none;
	float:left;
	padding:10px 0px;
}

/*input, textarea{
	font: 1em sans-serif;
	width: 300px;
	box-sizing: border-box;

}*/


textarea{
	vertical-align: top;
	height: 4em;
}

.contents-table{
	border:1px;
	border-style:solid;
	width:80%;
}

.contents-table tr:nth-child(odd) td{
	background-color:#EAF6FD;
}

.contents-table tr:nth-child(even) td{
	background-color:#EFEFEF;
}

.footer{
	text-align:center;
}


.roomname{
	margin-right:30px;
	margin-left:50px;
	float:right;
}


.list-name{
	margin-right:60px;
}

.room{
	margin-right:80px;
}

.room_p{
	display:inline-block;
}

.list-comment{
	margin-left:30px;
	margin-right:80px;
}

.room-comment{
	margin:60px;
}

.regi{
	padding-right:280px;
}


.btn{
	background-color:#87cefa;
	display:inline-block;
	margin-left:30px;
	float:left;
}

.error_msg{
	color:red;
}

/*board.php の css----------------*/
.main{
/*	display:inline-block; */
/*	text-align:left; */
/*	display:block; */
}
.text_number,text_name,text_content{
	float:left;
	vertical-align:middle;
}


.text_date{
	border-bottom:4px solid #3366CC;
}

.res_date{
	border-bottom:1px solid #3366CC;
}

.thread{
	text-align:right;
	display:block;
/*	padding-right:40%;
	float:right; */
}

.room-comment{
	float:left;
}
/* formタグ内の調整 */
.res{
	float:left;
}

.text{

}
.list_title{
/*	text-align:center; */
}
/*---------------------------------*/


